body{
    background-color: #591225;
}
h1, a, p{
    font-family: 'Roboto', sans-serif;
    color: #CC2F58;
}
#container{
    width: 200px;
    height: 300px;
    margin:auto;
    
}
header{
    width: 200px;
    height: 40px;
    margin:auto;
}

#grid{
    
    
}

.gridRow{
    
}
a{
    height:0;
    width:0;
    padding:0;
}

.gridCell{
    padding: 0px;
    margin: 10px;
    border: solid 4px;
    border-color: #8C1C3A;
}

img{
    height: 40px;
    width: 40px;
}
