body{
    background-color:#79AEDF;
}
/* container for message */
.message{
    margin-left: 20px;
    padding: 6px;
    min-height: 44px;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 300px;
    position: relative;
    background-color: #008080;
}
/* arraw */
.message:after {
	right: 100%;
	top: 78%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #008080;
	border-width: 10px;
	margin-top: -10px;
}
/* mesasge text */
.messageText{
    
    font-family: Tahoma, Geneva, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    margin-right: 40px;
}
/* time stamp text on message */
.pdate{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    margin: 0;
    padding:0;
    margin-right: 40px;
}

#holder{
    background-color: #C0C0C0;
    width: 360px;
    border: solid 2px;
}
#messagearea{
    margin: 4px;
    border: solid 4px #808080;
}
/* img buttins (clock/remove)*/
.imgBtn{
    height: 24px;
    width: 24px;
    margin:0;
    padding: 0;
    float:right;
}

#txt{
    font-family: Tahoma, Geneva, sans-serif;
    margin-left:4px;
    width: 300px;
	height:50px;
}
#send{
    font-family: Tahoma, Geneva, sans-serif;
    float:right;
    position:relative;
    height:56px;
	width:46px;
	background-color:#ededed;
	margin-right: 4px;
}
#send:hover {
	background-color:#dfdfdf;
}
#send:focus{
    outline:0 !important;
}
#antMessage{
    font-family: Tahoma, Geneva, sans-serif;
    
    font-size: 10px;
    margin: 0;
    padding: 0;
    margin-left: 4px;
    margin-bottom: 4px;
    
}

#controls{
    
}



/*Aimesage*/
/* container for message */
.aimessage{
    margin-left: 20px;
    padding: 6px;
    min-height: 44px;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 300px;
    position: relative;
    background-color: #006363;
}
/* arraw */
.aimessage:after {
	left: 100%;
	top: 78%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #006363;
	border-width: 10px;
	margin-top: -10px;
}
/* mesasge text */
.aimessageText{
    
    font-family: Tahoma, Geneva, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    margin-right: 40px;
}