#messegelist{
    list-style: none;
    margin:0;
    padding:0;
}

.message{
    padding: 6px;
    margin:6px;
    height:100px;
    width: 200px;
    color: #FFFFFF;
    background-color: #D15F56;
}

.pdate{
    font-size: 10px;
}

#holder{
    width: 300px;
}